<div class="section">
  <div class="section noprint">
    <div class="field is-grouped is-grouped-centered">
      <p class="control" id="motif">
        <span class="select">
          <select [(ngModel)]="motif" *ngIf="motifs$ | async as motifs" (change)="refreshSlotsGroup()">
            <option value="">Aucun motif</option>
            <ng-container *ngFor="let m of motifs; let i=index">
              <option value="{{m}}">{{m}}</option>
            </ng-container>
          </select>
        </span>
      </p>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <label>Début</label>
        <input class="input" type="date" [(ngModel)]="from" (change)="refreshSlotsGroup()">
      </p>
      <p class="control">
        <label>Fin</label>
        <input class="input" type="date" [(ngModel)]="to" (change)="refreshSlotsGroup()">
      </p>
    </div>
    <div class="field">
      <p class="control" id="printButton">
        <button (click)="printPage()" class="button is-info">Imprimer les rendez-vous</button>
      </p>
    </div>
  </div>
  <ng-container *ngIf="slotsGroups$ | async as slotsGroups">
    <ng-container *ngFor="let slotsGroup of slotsGroups; let i = index">
      <div class="container" *ngIf="slotsGroup.appointments">
        <div class="content">
          <h4 class="has-text-centered">{{slotsGroup.motif}}: {{ slotsGroup.from | date:'d/M/y'}}</h4>
        </div>
        <app-list [slotsGroup]="slotsGroup"></app-list>
      </div>
    </ng-container>
  </ng-container>
</div>
