<nav class="navbar noprint" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <img src="/assets/logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain"
      (click)="isActive = !isActive">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMain" class="navbar-menu" [ngClass]="{'is-active': isActive}">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/user', sessionService.getUserUUID()]"
        *ngIf="(sessionService.isAuthenticated() | async) && !sessionService.isAdmin()">
        Mon Compte
      </a>
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="sessionService.isAdmin()">
        <a class="navbar-link" [routerLink]="['/admin']">
          Administration
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" [routerLink]="['/admin/slots-group']">
            Créneaux
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['/admin/motifs']">
            Gestion des motifs de rendez-vous
          </a>
        </div>
      </div>
      <a class="navbar-item" [routerLink]="['/admin/slots-group/appointment']" *ngIf="sessionService.isAdmin()">
        Imprimer les rendez-vous
      </a>
    </div>

    <div class="navbar-end" *ngIf="sessionService.isAuthenticated() | async">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-primary" (click)="logout()">
            <strong>Se déconnecter</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
