<app-nav></app-nav>
<div class="container is-widescreen">
  <ng-container *ngIf="isAuthenticated() | async; else notAuthenticated">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #notAuthenticated>
    <div class="section">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="columns">
            <div class="column">
              <app-sign-in></app-sign-in>
            </div>
            <div class="column">
              <app-sign-up></app-sign-up>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
