<div class="field is-grouped">
    <p class="control is-expanded">
        <input class="input" type="text" [(ngModel)]="newMotif" [disabled]="!edition">
    </p>
    <div class="control">
        <button *ngIf="!edition" class="button is-warning" (click)="edition = true">Editer</button>
        <button *ngIf="edition" class="button is-success" (click)="update()">Valider</button>
    </div>
    <div class="control">
        <button class="button is-danger" (click)="delete()">Enlever</button>
    </div>
</div>