<form class="content" [formGroup]="creationForm">
  <div class="box" formArrayName="slotsGroups" *ngFor="let slotsGroup of slotsGroupsFormArray.controls; let i = index">
    <div [formGroupName]="i">
      <div class="field">
        <div class="field-body">
          <div class="field">
            <p class="control">
              <select class="input" *ngIf="motifs$ | async as motifs" formControlName="motif">
                <option value="">Choisir un motif</option>
                <ng-container *ngFor="let motif of motifs">
                  <option value="{{motif}}">{{motif}}</option>
                </ng-container>
              </select>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" formControlName="duration" type="number"
                placeholder="Durée d'un créneau (en minutes)">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" formControlName="quantityPerSlot" type="number"
                placeholder="Nombre de personnes par créneaux">
            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" formControlName="day" type="date">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" formControlName="from" type="time">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" formControlName="to" type="time">
            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" formControlName="quantity" type="number" placeholder="Nombre maximal de créneaux">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-link" (click)="takeMaximum(i)">Choisir le Maximum</button>
            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <button class="button is-danger" (click)="removeAppointment(i)">Supprimer</button>
      </div>
    </div>
  </div>
</form>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="addAppointment()">Ajouter des créneaux</button>
  </div>
  <div class="control">
    <button class="button is-success" (click)="onSubmit()" *ngIf="slotsGroupsFormArray.length != 0"
      [disabled]="!creationForm.valid">Valider</button>
  </div>
</div>
