<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Téléphone</th>
      <th>Horaire</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let appointment of slotsGroup?.appointments; let i = index;">
      <tr *ngIf="userList$[i] | async as user" [ngClass]="{'has-text-danger': appointment.done}">
        <td>{{user.surname}}</td>
        <td>{{user.name}}</td>
        <td>{{user.tel}}</td>
        <td>{{getDate(appointment.from) | date:'HH:mm':'undefined':'fr'}} à {{getDate(appointment.to) |
          date:'HH:mm':'undefined':'fr'}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
