<h2>S'enregistrer</h2>
<form [formGroup]="signUpForm" class="box" (ngSubmit)="onSubmit()" novalidate>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded has-icons-left has-icons-right">
          <input formControlName="surname" class="input" placeholder="Nom de famille">
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded has-icons-left">
          <input formControlName="name" class="input" type="text" placeholder="Prénom">
        </p>
      </div>
    </div>
  </div>
  <div class="field">
    <p class="control">
      <input formControlName="tel" class="input" placeholder="0624536532">
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input formControlName="password" class="input" type="password" placeholder="Mot de passe">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button type="submit" class="button is-success" [disabled]="!signUpForm.valid">Valider</button>
    </p>
  </div>
  <div class="notification is-info is-light">
    <p>
      Vous identifiant sera sous la forme <strong>nom_prénom</strong>.<br />
      (Cet identifiant est affiché en rouge sur la page d'accueil après la création du compte)
    </p>
  </div>
</form>
