<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>État</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Téléphone</th>
      <th>Horaire</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let appointment of appointments; let i = index;">
      <tr *ngIf="userList$[i] | async as user" [ngClass]="{'has-text-danger': appointment.done}">
        <td>
          <ng-container *ngIf="appointment.done">Fini</ng-container>
        </td>
        <td>{{user.surname}}</td>
        <td>{{user.name}}</td>
        <td>{{user.tel}}</td>
        <td>{{getDate(appointment.from) | date:'HH:mm':undefined:'fr'}} à {{getDate(appointment.to) |
          date:'HH:mm':undefined:'fr'}}</td>
        <td>
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button class="button is-danger is-outlined" (click)="removeAppointment(user.uuid, i)">Enlever</button>
            </div>
            <div class="control">
              <button class="button is-success is-outlined" (click)="checkAppointment(user.uuid, i)">Valider</button>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
