<h2>Se connecter</h2>
<form [formGroup]="signInForm" class="box" (ngSubmit)="onSubmit()">
    <div class="field">
    <p class="control has-icons-left has-icons-right">
        <input formControlName="username" class="input" placeholder="Identifiant">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
    </p>
    </div>
    <div class="field">
    <p class="control has-icons-left">
        <input formControlName="password" class="input" type="password" placeholder="Mot de passe">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
    </p>
    </div>
    <div class="field">
        <p class="control">
            <button type="submit" class="button is-success">Valider</button>
        </p>
    </div>
</form>