<ng-container *ngIf="isAdmin">
  <div class="content">
    <h3 class="has-text-centered">{{slotsGroup.motif}}: {{ slotsGroup.from | date:'d/M/y'}}</h3>
  </div>
  <ng-container *ngIf="quantityLeft != 0">
    <div class="content">
      <app-search-or-create-user *ngIf="quantityLeft != 0" [slotsGroup]="slotsGroup" (userUUID)="userUUID=$event">
      </app-search-or-create-user>
    </div>
    <div class="content">
      <div class="field">
        <p class="control">
          <select class="input" [(ngModel)]="deltaReservation">
            <option value="-1">Sélectionner un créneau</option>
            <ng-container *ngFor="let slot of availableSlots | keyvalue">
              <option value="{{slot.key}}">
                {{dateFromDeltaAndStartSlotsGroupWithoutTimeZone(slot.key) | date:'HH:mm'}} --
                ({{slot.value}}/{{slotsGroup.quantityPerSlot}})</option>
            </ng-container>
          </select>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button *ngIf="quantityLeft != 0" class="button is-info" (click)="onSubmit()"
            [disabled]="deltaReservation < 0">Réserver</button>
        </p>
      </div>
    </div>
  </ng-container>
  <app-appointments-details [slotsGroupUUID]="slotsGroup.uuid || ''" [appointments]="slotsGroup.appointments || []"
    *ngIf="isThereAppointments(slotsGroup.appointments)"></app-appointments-details>
  <div class="content">
    <div class="columns is-vcentered">
      <div class="column">
        <div class="field">
          <div class="control">
            <button class="button is-danger" (click)="removeSlotsGroup()">Supprimer les créneaux</button>
          </div>
        </div>
      </div>
      <div class="column">
        <p class="has-text-right">Place disponibles : {{quantityLeft}} / {{slotsGroup.quantity}}</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isAdmin">
  <ng-container *ngIf='!forBooking && selfAppointment'>
    <h3 class="has-text-centered">{{slotsGroup.motif}}</h3>
    <h4 class="has-text-centered">le
      {{ slotsGroup.from | date:'d/M/y' }}
      de
      {{selfAppointment.from | date:'HH:mm':'+0000':'fr'}}
      à
      {{selfAppointment.to | date:'HH:mm':'+0000':'fr'}}
    </h4>
    <div class="content">
      <div class="field">
        <p class="control">
          <button class="button is-danger" (click)="unbook()">Annuler la réservation</button>
        </p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="forBooking">
    <h3 class="title has-text-centered is-3">{{slotsGroup.motif}}</h3>
    <h4 class="title has-text-centered is-4">le {{ slotsGroup.from | date:'d/M/y' }} entre {{slotsGroup.from |
      date:'HH:mm':'+0000':'fr'}} et {{slotsGroup.to | date:'HH:mm':'+0000':'fr'}}</h4>
    <div class="content">
      <div class="field">
        <p class="control">
          <select class="input" [(ngModel)]="deltaReservation">
            <option value="-1">Sélectionner un créneau</option>
            <ng-container *ngFor="let slot of availableSlots | keyvalue">
              <option value="{{slot.key}}">{{dateFromDeltaAndStartSlotsGroup(slot.key)|
                date:'HH:mm':'+0000':'fr'}}</option>
            </ng-container>
          </select>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button *ngIf="quantityLeft != 0" class="button is-info" (click)="onSubmit()"
            [disabled]="deltaReservation < 0">Réserver</button>
        </p>
      </div>
    </div>
  </ng-container>
</ng-container>
