<div class="section">
    <div class="content">
        <h2>Ajouter des rendez-vous</h2>
    </div>
    <app-create-slots-group></app-create-slots-group>
</div>
<hr />
<div class="section">
    <div class="content">
        <h2>Voir les rendez-vous</h2>
    </div>
    <div class="field is-grouped is-grouped-centered">
        <p class="control" id="motif">
            <span class="select">
                <select [(ngModel)]="motif" *ngIf="motifs$ | async as motifs">
                    <option value="">Aucun motif</option>
                    <ng-container *ngFor="let m of motifs; let i=index">
                        <option  value="{{m}}">{{m}}</option>
                    </ng-container>
                </select>
            </span>
        </p>
    </div>
    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <label>Début</label>
            <input class="input" type="date" [(ngModel)]="from">
        </p>
        <p class="control">
            <label>Fin</label>
            <input class="input" type="date" [(ngModel)]="to">
        </p>
    </div>
    <app-appointment-list [motif]="motif" [from]="from" [to]="to"></app-appointment-list>
</div>
