<div class="section" *ngIf="user$ | async as user">
  <div class="notification is-danger is-light">
    Pensez à noter votre identifiant qui est : <strong>{{user.login}}</strong>
  </div>
  <div class="section">
    <div class="content">
      <h2>Mes rendez-vous</h2>
      <app-appointment-list [userUUID]="user.uuid"></app-appointment-list>
    </div>
  </div>
  <hr />
  <div class="section">
    <div class="content">
      <h2>Prendre rendez-vous</h2>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control" id="motif">
        <span class="select">
          <select [(ngModel)]="motif" *ngIf="motifs$ | async as motifs">
            <option value="">Aucun motif</option>
            <ng-container *ngFor="let m of motifs; let i=index">
              <option value="{{m}}">{{m}}</option>
            </ng-container>
          </select>
        </span>
      </p>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <label>Début</label>
        <input class="input" type="date" [(ngModel)]="from">
      </p>
      <p class="control">
        <label>Fin</label>
        <input class="input" type="date" [(ngModel)]="to">
      </p>
    </div>
    <app-appointment-list [free]="true" [motif]="motif" [from]="from" [to]="to"></app-appointment-list>
  </div>
</div>
