<div class="section">
    <h1 class="title is-1">Liste des motifs de rendez-vous</h1>
    <ng-container *ngFor="let m of (motifs$ | async); let i = index;">
        <app-element [motif]="m" (updated)="refresh()"></app-element>
        <br>
    </ng-container>
    <div class="field is-grouped">
        <p class="control">
            <input class="input" type="text" placeholder="Nom du motif" [(ngModel)]="newMotif">
        </p>
        <div class="control">
            <button class="button is-link" (click)="create()" [disabled]="newMotif.length < 5 || newMotif.length > 50">Créer le motif</button>
        </div>
    </div>
</div>