<h4>Rechercher ou créer un utilisateur</h4>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input formControlName="surname" class="input" placeholder="Nom de famille">
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input formControlName="name" class="input" type="text" placeholder="Prénom">
                </p>
            </div>
        </div>
    </div>
    <div class="field">
        <p class="control">
            <input formControlName="phone" class="input" placeholder="0624536532">
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button type="submit" class="button is-success" [disabled]="!userForm.valid">Valider l'utilisateur</button>
        </p>
    </div>
</form>