<ng-container *ngIf="slotsGroups$ | async as slotsGroups">
  <ng-container *ngIf="slotsGroups.items && slotsGroups.items.length > 0; else noAppointment">
    <ng-container *ngFor="let slotsGroup of slotsGroups.items; let i = index">
      <div class="box">
        <app-details [slotsGroup]="slotsGroup" (appointmentChanged)="appointmentTriggered()"
          [forBooking]="free != undefined"></app-details>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noAppointment>
    <div class="box">Il n'y a aucun rendez-vous</div>
  </ng-template>
</ng-container>
